NODE_ENV="development"

# TIDX basic auth (server-side), format: username:password
TIDX_BASIC_AUTH=""

# RPC auth key (server-side)
TEMPO_RPC_KEY=""

VITE_BASE_URL=""

# Sentry (server + client)
# SENTRY_DSN=""
# SENTRY_AUTH_TOKEN=""
# SENTRY_ORG=""
# SENTRY_PROJECT=""
# SENTRY_TRACES_SAMPLE_RATE="0.1"
# VITE_SENTRY_DSN=""
# VITE_SENTRY_TRACES_SAMPLE_RATE="0.1"

# --------------------------------------------------------
# The following vars are set automatically per environment
# in wrangler.json and are generally not to be set here.
# --------------------------------------------------------
# VITE_TEMPO_ENV="testnet"  # devnet | mainnet | testnet

# show react query + react router devtools
# VITE_ENABLE_DEVTOOLS=true

# (dev/preview) comma-separated list of allowed hosts to use in vite config. See
# https://vite.dev/config/server-options
# https://vite.dev/config/preview-options#preview-allowedhosts
# ALLOWED_HOSTS=""
