PORT=6969
NODE_ENV="development"

CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_DATABASE_ID=""
CLOUDFLARE_D1_TOKEN=""

# Logging level: debug, error, fatal, info, trace, warning
VITE_LOG_LEVEL="debug"

VITE_BASE_URL="http://localhost:6969"

WRANGLER_SEND_METRICS=false
